@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: #ff8623;
    font-family: "Poppins", sans-serif;
    margin: 0;
    align-content: center;
    text-align: center;
    overflow: auto;
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/433561.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
}

#form {
    margin-top: -14px;
}

.highlight:hover {
    color: #f509d9;
}

.overview {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    color: black;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in, transform 0.3s ease-in;
    overflow-y: auto;
    visibility: hidden;
}

.movie:hover .overview {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.overview h4 {
    margin-top: 0;
}

.movie-info span.green {
    color: rgb(39,189,39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189,42,42);
}

#my-heading {
    color: #ff8623;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    background-color: transparent;
    margin-top: 15px;
    left: 50%;
    margin-left: 41px;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    margin: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

#movie-match-btn3 {
    position: fixed;
    bottom: 220px;
    right: 20px;
    background-color: #7378c5;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font: inherit;
}

#movie-match-btn3:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5vw;
    padding-right: 3vw;
    padding-top: -20px;
    width: 96vw;
}

.highlight {
    color: orange;
}

header h1 {
    color: #ff8623;
    text-align: center;
}

#movie-timeline-btn {
    position: fixed;
    bottom: 180px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

#movie-timeline-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#movie-of-the-day-btn {
    position: fixed;
    bottom: 140px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

#trailerButton {
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

#trailerButton:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#movie-of-the-day-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#my-heading {
    color: #ff8623;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    background-color: transparent;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
}

#back-to-top-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#discussion-input {
    background-color: transparent;
    border: 2px solid #ff8623;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

#discussion-input:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#post-btn {
    background-color: #ff8623;
    font: inherit;
}

#post-btn:hover {
    background-color: #7f4caf;
    transition: 0.1s linear;
}

ol li:hover {
    color: #7f4caf;
    transition: 0.1s linear;
}

#chatbotContainer {
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px auto;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chatbotHeader {
    background-color: #ff8623;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
}

#chatbotBody {
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #ff8623;
}

#sendButton {
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    background-color: #ff8623;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sendButton:hover {
    background-color: #7f4caf;
    transition: 0.1s linear;
}

#chatbotInput {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ff8623;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    margin-top: 10px;
    box-sizing: border-box;
}

.highlight1 {
    color: orange;
}

#chatbotInput:focus {
    outline: none;
}

#chatbotBody > div {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

#chatbotBody > div[text-align="right"] {
    background-color: #ff8623;
    align-self: flex-end;
}

#chatbotBody > div[text-align="left"] {
    background-color: #7378c5;
    align-self: flex-start;
}

.favorites-btn {
    background-color: #7378c5;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 288.5px;
    transform: translateX(-50%);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.favorites-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#profileBtn {
    background-color: #7378c5;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: 0;
    left: 338px;
    border-radius: 8px;
}

#profileBtn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

.about {
    background-color: #7378c5;
    border: none;
    color: white;
    width: 85px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 196px;
    transform: translateX(-50%);
    border-radius: 8px;
}

#googleSignInBtn {
    background-color: #7378c5;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 441px;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
}

#googleSignInBtn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

.about:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#menu-btn {
    background-color: #7378c5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font: inherit;
    font-size: 14px;
}

#menu-btn i {
    font-size: 18px;
    margin-bottom: 4px;
}

#menu-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#settings-btn,
#movie-of-the-day-btn,
#movie-match-btn,
#movie-match-btn3,
#movie-timeline-btn,
#discussions-btn,
#trivia-btn,
#back-to-top-btn {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(20px);
    opacity: 0;
    display: none;
}

@media (min-width: 768px) {
    #settings-btn,
    #movie-of-the-day-btn,
    #movie-match-btn,
    #movie-timeline-btn,
    #discussions-btn,
    #movie-match-btn3,
    #trivia-btn,
    #back-to-top-btn {
        position: fixed;
        right: 20px;
        z-index: 1000;
    }

    #menu-btn {
        display: block;
    }
}

.mobile-bottom-bar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: #7378c5;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    justify-content: space-around;
    align-items: center;
    z-index: 1000002;
}

@media (max-width: 767px) {
    .mobile-bottom-bar {
        display: flex;
    }
}

.mobile-bottom-bar {
    transition: transform 0.09s ease-in-out;
}

.hide-bar {
    transform: translateY(100%);
}

.mobile-bottom-bar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 6px 0;
    width: 15%;
}

.mobile-bottom-bar a:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

.mobile-bottom-bar i {
    font-size: 18px;
    margin-bottom: 4px;
}

.mobile-bottom-bar span {
    display: block;
    font-size: 10px;
    color: #ecf0f1;
}

@media (max-width: 767px) {
    .mobile-bottom-bar {
        display: flex;
    }

    #settings-btn,
    #movie-of-the-day-btn,
    #movie-match-btn,
    #movie-timeline-btn,
    #discussions-btn,
    #trivia-btn,
    #menu-btn,
    #back-to-top-btn {
        display: none;
    }
}

.back-btn {
    background-color: #7378c5;
    border: none;
    color: white;
    width: 85px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 107px;
    transform: translateX(-50%);
    border-radius: 8px;
}

.back-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#discussions-btn {
    position: fixed;
    bottom: 140px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#discussions-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#trivia-btn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

#settings-btn {
    background-color: #7378c5;
    bottom: 260px;
    right: 20px;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font: inherit;
}

#alt-home-btn {
    position: fixed;
    bottom: 185px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

#alt-home-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#settings-btn:hover {
    background-color: #ff8623;
    transition: 0.1s ease-in;
}

#trivia-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#buttons-container {
    position: fixed;
    top: 20px;
    right: -30px;
}

@media (max-width: 906px) {
    #local-time,
    #googleSignInBtn,
    #profileBtn {
        display: none;
    }
}

#local-time {
    margin-top: 20px;
    transform: translateX(11%);
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}

.clock:hover {
    color: #f509d9;
}

#time-label {
    color: #ff8623;
}

#time-label:hover {
    color: #f509d9;
}

.search {
    background-color: transparent;
    border: 2px solid #121280;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 210px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}

#bot-header {
    text-align: center;
    width: 100%;
}

.search::placeholder {
    color: #7378c5;
}

#search:hover {
    outline: none;
    background-color: #22254b;
}

.search:focus {
    outline: none;
    background-color: #22254b;
}

#button-search {
    color: #171616;
    background-color: #7378c5;
    font: inherit;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

@media (max-width: 780px) {
    #my-heading {
        margin-top: 20px;
    }
    .search {
        margin-top: 10px;
    }
    #chatbotContainer {
        top: 56.1%
    }
}

@media (max-height: 700px) {
    #header {
        display: none;
    }
    #alt-home-btn {
        display: block;
    }
}

#button-search:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#clear-search-btn {
    background-color: #7378c5;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font: inherit;
}

#clear-search-btn:hover {
    background-color: #ff8623;
}

@media (max-width: 906px) {
    .back-btn, .about, .favorites-btn {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .back-btn {
        margin-left: -90px;
    }

    .about {
        margin-left: 0;
    }

    .favorites-btn {
        margin-left: 93px;
    }

    header {
        padding-bottom: 20px;
        justify-content: space-between;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        margin-bottom: -40px;
        justify-content: space-between;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #my-heading {
        margin-left: 0;
    }
}

@media (max-width: 705px) {
    #search-title,
    #alt-title {
        display: none;
    }
}

@media (max-height: 930px) {
    #search-title,
    #alt-title {
        display: none;
    }
}

#movie-match-btn2 {
    position: fixed;
    bottom: 140px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
