@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    color: #ff903a;
    font-family: "Poppins", sans-serif;
    margin: 0;
    align-content: center;
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/433561.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#submit {
    background-color: #7378c5;
    font: inherit;
    margin-bottom: 39px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#back-to-top-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

html {
    scroll-behavior: smooth;
}

#regenerate-questions {
    background-color: #7378c5;
    font: inherit;
    margin-bottom: 39px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#regenerate-questions:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}
