# GitIgnore File for The MovieVerse Project

# Ignore node modules
node_modules

# Ignore build output directories
dist
build

# Ignore environment variable files
.env

# Ignore Python virtual environments
venv

# Ignore the Emscripten SDK
emsdk/
