@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://wallpaperaccess.com/full/433561.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    margin: 0;
    align-content: center;
}

p {
    text-align: center;
    color: #a6967e;
}

.button2 {
    background-color: #7378c5;
    font: inherit;
    border-radius: 8px;
    border: none;
    right: 18px;
    position: absolute;
}

main {
    display: flex;
    flex-wrap: wrap;
}

html {
    scroll-behavior: smooth;
}

.main2 {
    text-align: center;
    color: orange;
}

.main2 p {
    color: orange;
}

header {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.search {
    background-color: transparent;
    border: 2px solid #121280;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 250px;
}

#main {
    align-self: center;
}

.search::placeholder {
    color: #7378c5;
}

#search:hover {
    outline: none;
    background-color: #22254b;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-top: -20px;
}

header h1 {
    color: #ff8623;
    text-align: center;
}

.highlight {
    color: orange;
}

.search:focus {
    outline: none;
    background-color: #22254b;
}

.about {
    background-color: #7378c5;
    border: none;
    color: white;
    width: 85px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 130px;
    border-radius: 8px;
}

.header2 {
    text-align: center;
    align-self: center;
    margin-left: 500px;
}

.back-btn {
    background-color: #7378c5;
    border: none;
    color: white;
    width: 85px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 40px;
    border-radius: 8px;
}

.back-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    margin: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(39,189,39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189,42,42);
}

.overview {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    color: black;
    transform: translateY(100%);
    transition: 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

.overview h4 {
    margin-top: 0;
}

.genres {
    align-self: center;
    margin-left: 15px;
    color: #ff8623;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#back-to-top-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

.about:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#my-heading {
    color: #ff8623;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    background-color: transparent;
}

h2:hover {
    color: #f509d9;
    transition: 0.1s linear;
}

#trivia-btn {
    position: fixed;
    bottom: 60px;
    right: 30px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#trivia-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

.button2:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#discussions-btn {
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#discussions-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#button-search {
    color: #171616;
    background-color: #7378c5;
    font: inherit;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#button-search:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

.details-container {
    display: flex;
    height: calc(100% - 60px); /* Adjust height considering header height */
    color: white;
}

.movie-left, .movie-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.movie-left {
    width: 33.3333%;
    box-sizing: border-box;
    align-items: center; /* Center-align children horizontally */
    justify-content: center; /* Center-align children vertically */
    margin-top: -75px;
}

.movie-right {
    width: 66.6666%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Allow scrolling for the description if needed */
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .movie-image {
        height: 100%;
    }
}

.movie-header {
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-description {
    font-size: 1rem;
    margin-top: 50px;
    color: white;
}

.movie-rating {
    margin-top: -15px;
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
}

.similar-movies-container h3 {
    color: #E0E0E0;
}

.similar-movies span:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #f509d9;
}

.movie-details-body {
    background-image: url("https://wallpaperaccess.com/full/433561.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.favorites-btn {
    background-color: #7378c5;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 219px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.favorites-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#favorite-btn {
    background: transparent;
    color: grey;
    margin-left: 10px;
    border-radius: 8px;
    width: 40px;
    box-shadow: none;
    position: relative;
    cursor: pointer;
}

#favorite-btn:hover {
    background-color: #dcdcdc;
}

.tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.title-favorites-container {
    display: flex;
    align-items: center;
}

#favorite-btn.favorited {
    color: red;
}

#favorites-main {
    margin-left: 15px;
}

#favorite-btn:hover::after {
    content: "Add to / Remove from favorites";
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #232323;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 10;
}

#main2 {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-bottom: 200px;
}

#main2 h2, #main2 h3 {
    color: #ff8623;
    margin-bottom: 20px;
}

#main2 p, #main2 ul, #main2 li {
    text-align: left;
    margin: auto;
    max-width: 800px;
    color: #ff8623;
}

#main2 ul {
    list-style: none;
    padding: 0;
}

#main2 li {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: black;
}

#main2 a {
    color: #7378c5;
    text-decoration: none;
}

#main2 a:hover {
    text-decoration: underline;
}

@media (max-width: 720px) {
    body {
        background-image: url("https://wallpaperaccess.com/full/433561.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}
