@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #7378c5;
}

#footerP {
    color: white !important;
}

#footerP:hover {
    transition: 0.1s ease-in;
    color: #ff8623 !important;
}

body {
    color: #ff903a;
    font-family: "Poppins", sans-serif;
    margin: 0;
    align-content: center;
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/433561.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#profileBtn {
    background-color: #7378c5;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: 0;
    margin-left: 316px;
    border-radius: 8px;
}

#profileBtn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#googleSignInBtn {
    background-color: #7378c5;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 420px;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
}

#googleSignInBtn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#my-heading {
    color: #ff8623;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    background-color: transparent;
}

#submit {
    background-color: #7378c5;
    font: inherit;
    margin-bottom: 39px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#back-to-top-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

html {
    scroll-behavior: smooth;
}

#regenerate-questions {
    background-color: #7378c5;
    font: inherit;
    margin-bottom: 39px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#regenerate-questions:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#movie-timeline-btn {
    position: fixed;
    bottom: 180px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#movie-timeline-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#movie-of-the-day-btn {
    position: fixed;
    bottom: 140px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#movie-of-the-day-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

#discussions-btn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#discussions-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

p {
    text-align: center;
    color: #ff8623;
}

.highlight:hover {
    color: #f509d9;
}

.button2 {
    background-color: #7378c5;
    font: inherit;
    border-radius: 8px;
    border: none;
    right: 18px;
    position: absolute;
}

main {
    display: flex;
    flex-wrap: wrap;
}

html {
    scroll-behavior: smooth;
}

.main2 {
    text-align: center;
    color: orange;
    scroll-behavior: smooth;
}

.main2 p {
    color: orange;
}

header {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.search {
    background-color: transparent;
    border: 2px solid #121280;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 400px;
}

#main {
    align-self: center;
}

.search::placeholder {
    color: #7378c5;
}

#search:hover {
    outline: none;
    background-color: #22254b;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-top: -20px;
}

header h1 {
    color: #ff8623;
    text-align: center;
}

.highlight {
    color: orange;
}

.search:focus {
    outline: none;
    background-color: #22254b;
}

.about {
    background-color: #7378c5;
    border: none;
    color: white;
    width: 85px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 130px;
    border-radius: 8px;
}

.header2 {
    text-align: center;
    align-self: center;
    margin-left: 500px;
}

.back-btn {
    background-color: #7378c5;
    border: none;
    color: white;
    width: 85px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 41px;
    border-radius: 8px;
}

.back-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    margin: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(39,189,39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189,42,42);
}

.overview {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    color: black;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in, transform 0.3s ease-in;
    overflow-y: auto;
    visibility: hidden;
}

.movie:hover .overview {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.overview h4 {
    margin-top: 0;
}

.genres {
    align-self: center;
    margin-left: 15px;
    color: #ff8623;
}

#other1:hover {
    color: #f509d9;
    transition: 0.1s linear;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#back-to-top-btn:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

.about:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #7378c5;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.modal-content {
    text-align: center;
}

.close-button {
    cursor: pointer;
    position: relative;
    top: -2px;
    font-size: 25px;
    color: #aaa;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.progress-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(green 0%, green var(--progress, 0%), red var(--progress, 0%), red 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    transition: stroke-dashoffset 0.5s ease-out;
}

.progress-circle::after {
    content: '';
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    display: block;
}

#correct-answers {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

#result-text {
    text-align: center;
    font-size: 20px;
}

#my-heading {
    color: #ff8623;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    background-color: transparent;
    margin-left: 40px;
}

.favorites-btn {
    background-color: #7378c5;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 219px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.favorites-btn:hover {
    background-color: #ff8623;
    transition: 0.3s ease-in;
}

#favorite-btn {
    background: transparent;
    color: grey;
    margin-left: 10px;
    border-radius: 8px;
    width: 40px;
    box-shadow: none;
    position: relative;
    cursor: pointer;
}

#favorite-btn:hover {
    background-color: #dcdcdc;
}

#button-search {
    color: #171616;
    background-color: #7378c5;
    font: inherit;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#button-search:hover {
    background-color: #ff8623;
    transition: 0.1s linear;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    padding: 20px;
}

#settings-btn {
    background-color: #7378c5;
    bottom: 260px;
    right: 20px;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font: inherit;
}

#settings-btn:hover {
    background-color: #ff8623;
    transition: 0.1s ease-in;
}

#trivia-label:hover {
    color: #f509d9;
}

#trivia-label {
    margin-top: 50px
}

.button-container {
    display: flex;
    justify-content: center;
}

#clear-search-btn {
    display: block;
    margin: 20px auto;
    background-color: #7378c5;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font: inherit;
    margin-right: 20px;
}

#quiz-container {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 410px;
    margin: auto;
}

#quiz-form {
    margin-bottom: 250px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#clear-search-btn:hover {
    background-color: #ff8623;
}

@media (max-width: 900px) {
    #profileBtn {
        display: none;
    }
}

@media (max-width: 840px) {
    #my-heading {
        margin-left: 0;
    }

    .back-btn {
        background-color: #7378c5;
        border: none;
        color: white;
        width: 85px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font: inherit;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 0;
        margin-left: -180px;
        border-radius: 8px;
    }

    .about {
        background-color: #7378c5;
        border: none;
        color: white;
        width: 85px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font: inherit;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 0;
        margin-left: 0;
        border-radius: 8px;
    }

    .favorites-btn {
        background-color: #7378c5;
        border: none;
        color: white;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font: inherit;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 0;
        margin-left: 188px;
        border-radius: 8px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    #googleSignInBtn {
        display: none;
    }

    header {
        padding-bottom: 20px;
        justify-content: space-between;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        margin-bottom: -40px;
        justify-content: space-between;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #trivia-label {
        margin-top: 60px;
    }
}

#movie-match-btn2 {
    position: fixed;
    bottom: 180px;
    right: 20px;
    background-color: #7378c5;
    font: inherit;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
