<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{article.title}}</title>
</head>
<body>
  <header>
    <h1>{{article.title}}</h1>
    <p>Written by: {{article.author}}</p>
  </header>
  <article>
    <p>{{article.content}}</p>
  </article>
</body>
</html>
