apiVersion: v1
kind: LimitRange
metadata:
  name: movieverse-limits
  namespace: movieverse
spec:
  limits:
    - type: Container
      default:
        cpu: "500m"
        memory: 512Mi
      defaultRequest:
        cpu: "250m"
        memory: 256Mi
