apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: movieverse-ai-models-pvc
  namespace: movieverse
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: movieverse-ai-index-pvc
  namespace: movieverse
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
