<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MovieVerse</name>
    <description>Your Ultimate Movie and Filmography Database</description>
    <author email="info@movie-verse.com" href="https://sonnguyenhoang.com/">
        David Nguyen
    </author>
    <platform name="ios">
        <icon src="www/icons/iOSIcon.png" width="180" height="180"/>
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="deployment-target" value="17.0" />
        <preference name="Orientation" value="portrait" />
    </platform>
    <platform name="android">
        <icon src="www/icons/AndroidIcon.png" density="xxxhdpi"/>
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="Orientation" value="portrait" />
    </platform>
    <content src="launch-screen.html" />
    <allow-intent href="https://*/*" />
</widget> 
